* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.item {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 40px 0;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #ef376e;
}
h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #ef376e;
}
input {
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 20px;
}
select {
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 20px;
}
button {
  font-size: 15px;
  padding: 10px 50px;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-position: right center;
}
